html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #1e1e1e; 
    background-blend-mode: difference;
    color: white;
    font-size: 115%;
    font-weight: bolder;
    text-align: center;
    background-size: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}
h1 {
color: whitesmoke;
background: rgba(17, 17, 17, 0.5);
padding: 25px;
font-size: 45px;
border: 10px;
border-radius: 10px;
}
p{
    background: rgba(24, 24, 24, 0.075);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border: 10px;
    border-radius: 20px;
}
a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    background: rgba(14, 14, 14, 0.24);
    padding: 10px;
}
#logo{
    border-radius: 12px;
    font-size: 30px;
}
#gamesButton{
    font-size: 30px;
    border-radius: 35px;
    border: solid 1px white;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.20s; 
    z-index: auto;
}
#image1{
    border: 2px solid rgb(37, 37, 37);
    border-radius: 20px;
    transition: 0.20s;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    filter: grayscale(50%);
}
#image1:hover{
    border: 2px solid rgb(204, 105, 24);
    border-radius: 0px;
    transition: 0.20s;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    filter: grayscale(0%);   
}
#gameThumb{
    border-radius: 20px;
    transition: 0.20s;
    padding: 10px 10px;
    border: 0px;
    position: relative;
    border: 5px solid rgb(255, 255, 255);
    z-index: auto;
}
#gameThumb:hover{
    transition: 0.20s;
    border: 5px solid rgb(230, 60, 88);
    box-shadow:
    -5px 0 20px rgb(255, 255, 255),
    5px 0 20px rgb(255, 0, 64);
    z-index: 2;
}
#gamesButton:hover{
    background: rgba(0, 0, 0, 0.28);
    border-radius: 20px;
    transition: 0.20s;
    text-shadow: 1px 1px black;
    border: 2px solid white;
    z-index: 100;
    box-shadow:
    -2px 0 5px rgb(255, 255, 255),
    2px 0 5px rgb(114, 114, 114);
}
#videoPlayer{
    border: 0px;
    border-radius: 20px;    
    background: black;
    border: 10px solid rgb(12, 12, 12);
}
#imageBox1{
    border: 0px;
    border-radius: 20px;
}
#homeLabel{
    text-align: left;
    font-size: 200%;
    position: relative;
    display: block;
    transform: translate(2%, 85%);
}
#mainTabs{
    display: block;
    text-align: right;
    background-color: rgba(0, 0, 0, 0);
    height: 0%;
    border: 0px;
    width: 0;
    border-radius: 0px;
    position: fixed;
    transform: translate(-1%, -0%);
    z-index: 100;
    padding-left: 15px;
}
model-viewer{
    position: absolute;
    display: block;
    transform: translate(50%,50%);
}
#downloadButton{
    border: 0px;
    border-radius: 10px;
}
#iconButton{
    border-radius: 20px;
    display: inline-block;
    width: 5%;
    border-color: black;
   position: relative;
   text-align: center;
   padding: 8px 16px;
   margin: 5px;
   border: 2px solid white;
   transform: translate(0%, -75%);
   transition: 0.20s;
   font-size: 30px;
}
#iconButton:hover{
    transition: 0.20s;
    border: 2px solid orange;
}
#thumbnail1{
    border: 0px;
    border-radius: 10px;
    display: block;
    width: 100%;
    position: relative;
    transform: translate(0%, 1%);
    margin: 0 auto;
}
#thumbnail{
    border: 0px;
    border-radius: 10px;
    display: block;
    width: 35%;
    background: none;
    position: relative; 
    transform: translate(0%, 1%);
    margin: 0 auto;
    transition: 0.10s;
}
#thumbnail:hover{
    transition: 0.10s;
    width: 36%;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
}
.flex-social{
    display: flex;
    flex: 1 auto;
    flex-wrap: wrap;
    align-items: center;
}
#copyright{
    position: absolute;
}
#catagories{
    display: block;
    margin: 0 auto;
    text-align: right;
    background-color: rgba(26, 26, 26, 0.342);
    padding: 20px 10px;
    height: 100%;
    border: 0px;
    border-radius: 5px;
    transform: translate(0%, -0%);
}
#newButton{
    width: 380px;
    height: 86px;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 0%, #ff014d 0%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    /*box-shadow: 6px 0px 0px #00E6F6; */
    outline: transparent;
    position: relative;
    transition: 0.20s;
    text-shadow: 
    -2px 0 5px rgb(63, 146, 77),
    2px 0 5px rgb(255, 136, 0);
    box-shadow: 
    -2px 0 5px rgb(194, 109, 135),
    2px 0 5px rgb(255, 0, 64);
}
#newButton:hover{
    width: 380px;
    font-size: 42px;
    font-family: 'Bebas Neue', cursive;
    color: #00E6F6;
    border: 0;
    transition: 0.20s;
}
#windowPlay{
    width: 150px;
    height: 80px;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: #ff014d;
    border: 0;
    border-radius: 10px;
    color: #fff;
    transform: translate(275%, 180%);
    box-shadow: 0px 6px 0px #00E6F6;
    z-index: 11;
    position: relative;
    transition: 0.20s;
}
#windowPlay:hover{
    font-size: 42px;
    font-family: 'Bebas Neue', cursive;
    color: #00E6F6;
    border: 0;
    transition: 0.20s;
}
.overlayGame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: rgba(0,0,0,0.5);
  }
.overlayGameMain{
    position: relative;
    top: 0;
    left: 0;
    width: 950px;
    height: 700px;
    border: 0;
    border-radius: 10px;
    transform: translate(50%, 10%);
    z-index: 10;
    background-color: rgb(31, 31, 31);
    box-shadow:
    -5px 0 20px rgb(255, 255, 255),
    5px 0 20px rgb(255, 0, 64);
  }
.img-container{
    background-image: url(Images/BannerSkinny.png);
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.innerBanner{
    text-align: center;
    position: relative;
    width: 100%;
    color: white;
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 5px;
}
#menuNavButton{
    width: 50px;
    height: 50px;
    font-size: 35px;
    background: rgb(54, 54, 54);
    border: solid 1px rgb(29, 29, 29);
    border-radius: 100px;
    color: #fff;
    transition: 0.20s;
    margin: 2px;
    position: relative;
    z-index: auto;
}
#menuNavButton:hover{
    background: rgb(66, 66, 66); 
    color: orange;
    animation: spin 0.15s linear none;
    z-index: 1000;
    border: solid 1px rgb(163, 94, 54);
    box-shadow:
    -5px 0 20px rgb(255, 255, 255),
    5px 0 20px rgb(255, 136, 0);
}
#backButton1{
    width: 50px;
    height: 50px;
    font-size: 35px;
    background: rgb(54, 54, 54);
    border: 0;
    border-radius: 100px;
    color: #fff;
    transition: 0.20s;
    margin: 0;
    position: relative;
    z-index: 11;
}
#backButton1:hover{
    background: rgb(66, 66, 66); 
    color: rgb(238, 10, 10);
    z-index: 1000;
    box-shadow:
    -5px 0 20px rgb(255, 0, 0),
    5px 0 20px rgb(150, 13, 13);
}
.flex-container-game{
    display: block;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
}
@keyframes spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: rgb(17, 17, 17);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(190, 101, 28);
}
@media only screen and (max-width: 800px) {
#menuButtons { font-size: 15px }
#homeLabel{ font-size: 100% }
#image1{ width: 32% }
#banner{ width: 130%; transform: translate(0%, -45%); }
#gamesButton { font-size: 30px; }
#newButton { font-size: 30px; width: 300px;}
}
@media only screen and (max-width: 1000px) {
    #menuButtons { font-size: 20px }
    #homeLabel{ font-size: 150%; }
    #image1{ width: 32% }
    #banner{ width: 100%; transform: translate(0%, -30%); }
    #gamesButton { font-size: 20px; }
    #socialMedia { height: 10%; width: 120%; transform: translate(-8%, 0%); }
    #newButton { font-size: 20px; width: 225px;}
    body{
        background: #1e1e1e; 
    }
}
@media only screen and (max-width: 770px) {
    #menuButtons { font-size: 10px }
    #homeLabel{ font-size: 50%; transform: translate(2%, 175%);}
    #image1{ width: 32% }
    #banner{ width: 100%; transform: translate(0%, -70%); }
    #gamesButton { font-size: 20px; }
    #socialMedia { height: 10%; width: 120%; transform: translate(-8%, 0%); }
    #newButton { font-size: 15px; width: 185px;}
    body{
        background: #1e1e1e;
    }
}
@media only screen and (max-width: 320px) {
    #menuButtons { font-size: 5px }
    #homeLabel{ font-size: 0%; }
    #image1{ width: 32% }
    #banner{ width: 100%; transform: translate(0%, -55%); }
    #gamesButton { font-size: 13px; }
    #socialMedia { width: 900px; transform: translate(-32%, 0%); }
    h1 { font-size: 20px; }
    #mainTabs { padding: 12px; transform: translate(-5%, -35%);}
    #newButton { font-size: 12px; width: 150px;}
    h2{font-size: 18px;}
    h3{font-size: 12px;}
    body{
        background: #1e1e1e; 
    }
}