h1 {
color: whitesmoke;
background: rgba(17, 17, 17, 0.5);
padding: 25px;
font-size: 45px;
border: 10px;
border-radius: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(181, 20, 221),rgb(22, 179, 218), rgb(221, 20, 161));
    background-blend-mode: difference;
    color: white;
    font-size: 120%;
    font-weight: bolder;
    text-align: center;
   background-size: 400%;
   animation: changebg 20s infinite alternate;
}

@keyframes changebg{
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

p{
    background: rgba(24, 24, 24, 0.075);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border: 10px;
    border-radius: 20px;
    
}

a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    background: rgba(14, 14, 14, 0.24);
    padding: 10px;
}

#logo{
    border-radius: 12px;
    font-size: 30px;
}

#videoPlayer{
    background: black;
    border: 10px solid rgb(12, 12, 12);
}

#gamesButton{
    font-size: 30px;
    border-radius: 18px;
    transition: 0.20s;
    
    
}

#image1{
    border: 10px;
    border-radius: 100px;
    transition: 0.20s;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    
    
}

#image1:hover{
    border: 0px;
    border-radius: 20px;
    transition: 0.20s;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    
}

#null{
    border: 0px;
    padding: 14px, 10px;
    display: block;
    background: linear-gradient(to right, rgb(207, 58, 140), rgb(58, 160, 207));
    border-radius: 24px;
    font-size: 75%;
    position: absolute;
    transform: translate(100%, -130%);
    color: white;
    transition: 0.20s;
    background-size: 400%;
    animation: changeLogin 4s infinite alternate;
}

#null:hover{
    color: rgb(196, 196, 196);
    transition: 0.20s;
    background: linear-gradient(to right, rgb(207, 58, 195), rgb(58, 128, 207));
    background-size: 400%;
    animation: changeLogin 2s infinite alternate;
}

#gamesButton:hover{
    background: rgba(0, 0, 0, 0.28);
    border-radius: 20px;
    transition: 0.20s;
    text-shadow: 1px 1px black;
    border: 2px solid white;
}

@keyframes changeLogin{
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

#videoPlayer{
    border: 0px;
    border-radius: 20px;
    
}

#imageBox1{
    border: 0px;
    border-radius: 20px;
}
#homeLabel{
    text-align: left;
    font-size: 200%;
    position: absolute;
    display: block;
    transform: translate(10%, -10%);
}
#mainTabs{
    display: block;
    text-align: right;
    background-color: rgba(26, 26, 26, 0.445);
    padding: 25px 10px;
    height: 100%;
    border: 10px;
    border-radius: 5px;
    transform: translate(0%, -10%);
}
model-viewer{
    position: absolute;
    display: block;
    transform: translate(50%,50%);
}

#downloadButton{
    border: 0px;
    border-radius: 10px;
    
}

#iconButton{
    border: 0px;
    border-radius: 20px;
    display: block;
    width: 5%;
    border-color: black;
   position: relative;
   text-align: center;
   margin: 0 auto;
   border: 2px solid white;
   transform: translate(-0%, -100%);
   transition: 0.20s;
   font-size: 30px;
}
#iconButton:hover{
    font-size: 35px;
    transition: 0.20s;
    border: 4px solid greenyellow;
    width: 7%;
}
#menuButtons{
    font-size: 30px;
    border-radius: 18px;
    transition: 0.20s;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    
    
}
#menuButtons:hover{
    
    border-radius: 20px;
    transition: 0.20s;
    width: 100%;
    height: 100%;
    text-shadow: 1px 1px black;
    border: 3px solid greenyellow;
}
#socialMedia{
    width: 100%;
    height: 100%;
    text-decoration: none;
    list-style-type: none;
    
}
#thumbnail1{
    border: 0px;
    border-radius: 10px;
    display: block;
    width: 100%;
    position: relative;
    transform: translate(0%, 1%);
    margin: 0 auto;
}
#thumbnail{
    border: 0px;
    border-radius: 10px;
    display: block;
    width: 35%;
    background: none;
    position: relative;
    transform: translate(0%, 1%);
    margin: 0 auto;
    transition: 0.10s;
}
#thumbnail:hover{
    transition: 0.10s;
    width: 36%;
   
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;

}
#copyright{
    position: absolute;
}

#catagories{
    display: block;
    margin: 0 auto;
    text-align: right;
    background-color: rgba(26, 26, 26, 0.342);
    padding: 20px 10px;
    height: 100%;
    border: 0px;
    border-radius: 5px;
    transform: translate(0%, -0%);
    
}
